body {
    background-color: #691919;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color:black;
}

.card {
    background-color: white;   
    border-color: #dfdcd4!important;
}

.border {
    border-width: medium!important;
    border-style: outset!important;
}

#icon {
    max-height: 100px;
}
